@{
    Layout = "_LayoutCheckout";
}


<section class="form-container">
    <div class="summary-card">
        <div class="summary-header">
            <div class="summary-image">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><g stroke-width="0" id="SVGRepo_bgCarrier"></g><g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier"> <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#000000" d="M20 7L9.00004 18L3.99994 13"></path> </g></svg>
            </div>
            <div class="summary-content">
                <span class="summary-title">Order validated</span>
                <p class="summary-message">Thank you for your purchase. Your package will be delivered within 2 days of your purchase</p>
            </div>
            <div class="summary-actions">
                <button type="button" class="summary-back" onclick="window.location.href='@Url.Action("Index", "Home")'">Volver a Inicio</button>
            </div>
        </div>
    </div>
</section>
