@model IEnumerable<VirvisShopFinal.Models.Product>

@{
    ViewData["Title"] = "Productos";
}

<main>
    <section class="container my-5">
        <h2 style="justify-content: center; display: flex; align-items: center;">Productos</h2>
        <div class="product-cards-container">
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {

                    <div class="product-card">
                        <div class="product-card-image">
                            @Html.DisplayFor(modelItem => item.img)
                        </div>
                        <p class="product-card-title">@Html.DisplayFor(modelItem => item.name)</p>
                        <p class="product-card-body">
                            @Html.DisplayFor(modelItem => item.description)
                        </p>
                        <div class="product-card-footer">
                            <p class="product-card-price">@Html.DisplayFor(modelItem => item.price)</p>
                            <button class="product-card-button">Agregar al carrito</button>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No hay productos disponibles en este momento</p>
            }
        </div>
    </section>
</main>